<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test-Suit">
    <parameter name="browser" value="chrome"/>
   <listeners>
       <listener class-name="TestListeners.SuiteListener"></listener>
   </listeners>

    <test name="Test">
        <classes>
            <class name="TestRunners.TestRunner"/>
        </classes>
    </test><!-- Test -->
</suite><!-- Test -->

